:host {
  position: fixed;
  bottom: -100px;
  transition: bottom 0.5s;
  left: 50%;
  height: 40px;
  z-index: 100;
  background-color: var(--color-background);
  width: 450px;
  margin-left: -225px;
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-02);
  display: flex;
  padding: 0 var(--spacing-comp-02);

  > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  p {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-sm);
    color: var(--color-text);
  }
  .col-right {
    display: flex;
  }
  gxg-button {
    margin-right: var(--spacing-comp-02);
  }
}
:host(.visible) {
  bottom: 20px;
}
