@import "../../node_modules/@genexus/gemini/dist/gemini/gemini.css";

html,
body {
  height: 100%;
}
body {
  margin: 0 var(--spacing-comp-02);
}
.contenedor {
  border: 1px solid #ccc;
  width: 500px;
  height: 750px;
  background: #fff;
  margin: 0 auto;
  margin-top: 100px;
}
:root {
  //The following css variables were created to calculate the max-width value for the dt-main .container div, on components/main/main.scss
  --cardWidth: 230px;
  --cardBorderWidth: var(--border-width-sm);
  --tabContinerPadding: var(--spacing-comp-02);
  //The following css variable was created to calculate the negative lateral margin for the .tab-container-content div inside the dt-tab module.
  --cardLateralMargin: var(--spacing-comp-01);
  //The following css variable was created to calculate the card animation duration according to the number of cards, for each token.
  --cardAnimationDelay: 0.75s;
}
