@mixin form-input-styles() {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  color: var(--color--black);
  padding-left: var(--spacing-comp-02);
  padding-right: var(--spacing-comp-02);
  padding-top: var(--spacing-comp-01);
  padding-bottom: var(--spacing-comp-01);
  background: var(--gray-01);
  border-width: var(--border-width-sm);
  border-color: var(--gray-04);
  border-style: var(--border-style-regular);
  letter-spacing: 0.018em;
  height: var(--spacing-comp-05);
}
