:host(:focus) {
  outline: none;
  .item {
    box-shadow: inset 0px 0px 0px 2px var(--color-primary-active);
  }
}
:host([last-item]) {
  .item {
    margin-bottom: calc(var(--spacing-comp-01) * -1);
  }
}
:host {
  width: 100%;
  .item {
    border-bottom-width: var(--border-width-sm);
    border-bottom-style: var(--border-style-regular);
    border-bottom-color: var(--gray-02);
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
  .col-left {
    display: flex;
    padding-right: var(--spacing-comp-02);
    width: calc(100% - 60px);
    box-sizing: border-box;
    &__title-value-container {
      width: calc(100% - 60px);
      display: flex;
    }
  }
  .col-right {
    display: flex;
    align-items: center;
    margin-right: var(--spacing-comp-01);
  }
  .container {
    display: flex;
    justify-content: space-between;
    height: auto;
    min-height: 32px;
    @include ui-animation(border-bottom-color);

    &.preview-mode {
      &__container {
      }
    }
    &.edit-mode {
    }
  }
  .preview {
    padding-left: var(--spacing-comp-01);
    width: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    //Token Font
    ::slotted(dt-token-font) {
      font-size: 12px;
    }
    //Token Color
    ::slotted(dt-token-color-palette) {
      width: var(--spacing-comp-05);
      height: var(--spacing-comp-05);
    }
    ::slotted(dt-token-color-palette) {
      .color-palette-row-box {
        min-height: 20px;
      }
    }
    //Token Time
    ::slotted(dt-token-time) {
      width: 90%;
    }
  }
  .title-container {
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 160px;
    margin-right: var(--spacing-comp-05);
    box-sizing: border-box;
    .item-title {
      font-family: var(--font-family-primary);
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-sm);
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .token-value {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 160px;
    margin-right: 80px;
    word-break: break-all;
  }
  .item-menu {
    width: 60px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
  }
  .list-content-editable {
    display: flex;
    align-items: center;
    width: calc(100% - 60px);
  }
  ::slotted([slot="editable"]) {
    width: 100%;
  }
}
:host(:not(.new)) {
  .item:hover {
    &:hover {
      .item-menu {
        opacity: 1;
      }
      background-color: var(--gray-01);
    }
  }
}
:host(:focus) {
  border-color: var(--color-primary-active);
  .item {
    .item-menu {
      opacity: 1;
    }
  }
}
:host(.focus-on-buttons) {
  .item {
    .item-menu {
      opacity: 1;
    }
  }
}

:host(.add-new-token) {
  text-align: center;
  .item {
    border-bottom-width: var(--border-width-sm);
    border-bottom-style: var(--border-style-regular);
    border-bottom-color: var(--gray-02);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
//read only
:host(.read-only) {
  pointer-events: none;
  .item-menu {
    opacity: 1;
  }
}
