:host {
  display: block;
  --borderWidthTokenBorderWidth: 0; //default border width
}

.square {
  $squareSize: 50px;
  display: block;
  background: var(--color-background);
  border-color: var(--color-on-background);
  height: $squareSize;
  width: $squareSize;
  border-style: var(--border-style-regular);
  box-sizing: border-box;
  border-width: min(var(--borderWidthTokenBorderWidth), 20px);
}
