@import "../../../node_modules/@simonwep/pickr/dist/themes/nano.min.css";

.color-picker-main-container {
  background: var(--color-white);
  position: relative;
  margin-top: -1px;
  transition: max-height 0.5s ease-in-out;
  padding: var(--spacing-comp-02) var(--card-padding) 0 var(--card-padding);

  &-label {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    margin-bottom: var(--spacing-comp-01);
    display: inline-block;
    text-transform: capitalize;
  }
  &-textbox {
    @include form-input-styles;

    width: 100%;
    margin-bottom: var(--spacing-comp-02);
    box-sizing: border-box;
  }

  &--visible {
    max-height: 400px;
  }
}
.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-palette .pcr-palette {
  border-radius: 0;
}
.pickr {
  display: none;
}
.pcr-app {
  max-width: 100%;
  width: 100% !important;
  box-shadow: none;
}
.pcr-app .pcr-interaction .pcr-result[type="text"] {
  flex: 1 1 100%;
  margin: 0 0 var(--spacing-comp-02) 0;
}
.pcr-app .pcr-interaction input {
  flex: 1 1 calc(100% / 3);
  margin: 0 0 var(--spacing-comp-02) 0;
}

//Buttons
.pcr-app .pcr-interaction input:focus {
  &:focus {
    box-shadow: none;
  }
}
.pcr-app[data-theme="nano"] .pcr-interaction {
  padding: 0;
}
.pcr-app .pcr-interaction {
  margin: 0;
}
.pcr-app .pcr-interaction .pcr-save {
  background: var(--color-primary-enabled);
  border-color: var(--color-primary-enabled);
  border-style: var(--border-style-regular);
  border-width: var(--border-width-sm);
  border-radius: var(--border-radius-sm);
}
