:host {
  display: block;

  .color-palette {
    display: flex !important;

    &-col {
      width: 50px;

      &:first-child {
        padding-right: var(--spacing-comp-02);
        border-right-width: var(--border-width-sm);
        border-right-style: var(--border-style-regular);
        border-right-color: var(--gray-03);

        // border styles
        -border-style-regular: solid;
      }
    }
    &-row {
      flex: 0 0 50%;

      &:first-child {
        margin-bottom: var(--spacing-comp-01);

        .color-palette-row-box {
          height: 42px;
        }
      }
      &:last-child {
        display: flex;
        .color-palette-row-box {
          min-height: var(--spacing-comp-04);
        }
        .color-palette-row-box:first-child {
          margin-right: var(--spacing-comp-01);
        }
      }

      &-box {
        padding: 0;

        flex: 1 1 50%;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        border-width: var(--border-width-sm);
        border-style: var(--border-style-regular);
        border-color: var(--color-light-grey);
        box-sizing: border-box;

        // &:first-child:last-child {
        //     -ms-flex-align: end !important;
        //     align-items: flex-end !important;

        //     &:after {
        //         content: "";
        //         display: block;
        //         padding-bottom: 100%;
        //     }
        // }

        // &:first-child:not(:last-child) {
        //     -ms-flex-align: center !important;
        //     align-items: center !important;
        // }

        // &:last-child:not(:first-child) {
        //     -ms-flex-align: center !important;
        //     align-items: center !important;
        // }

        &-contrast-value {
          margin-bottom: 0;
          font-size: var(--font-size-md);
          -ms-flex-align: end !important;
          align-items: flex-end !important;
          font-family: var(--font-family-primary);
          font-weight: var(--font-weight-bold);
          font-size: var(--font-size-md);
          line-height: 0;
          margin-top: 0;
          text-transform: uppercase;
        }
      }
    }
    &-hexa-value {
      font-family: var(--font-family-primary);
      font-size: var(--font-size-md);
      line-height: 1;
      text-transform: uppercase;
    }
  }
}
