:host {
  $boxSquareSize: 50px;

  display: block;
  width: $boxSquareSize;

  .color-palette {
    &-row {
      margin-bottom: var(--spacing-comp-01);
      &--first-child {
        > * {
          height: $boxSquareSize;
        }
      }

      &:last-child {
        margin-bottom: 0;
        display: flex;
        .color-palette-row-box {
          min-height: var(--spacing-comp-04);
        }
        .color-palette-row-box:first-child {
          margin-right: var(--spacing-comp-01);
        }
      }

      &-box {
        padding: 0;

        flex: 1 1 50%;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        border-width: var(--border-width-sm);
        border-style: var(--border-style-regular);
        border-color: var(--color-light-grey);
        box-sizing: border-box;

        &-contrast-value {
          margin-bottom: 0;
          -ms-flex-align: end !important;
          align-items: flex-end !important;
          font-family: var(--font-family-primary);
          font-weight: var(--font-weight-bold);
          font-size: var(--font-size-xs);
          line-height: 0;
          margin-top: 0;
          text-transform: uppercase;
        }
      }
    }
    &-hexa-value {
      font-family: var(--font-family-primary);
      font-size: var(--font-size-md);
      line-height: 1;
      text-transform: uppercase;
    }
  }
}
