:host {
}

:host > * {
  margin-bottom: var(--spacing-lay-01);

  &:last-child {
    margin-bottom: 0;
  }
}

:host(.list-item) {
  display: flex;
  margin-right: var(--spacing-comp-02);
  .edit-container {
    width: 40%;
    max-width: 160px;
    min-width: 120px;
    margin-right: 20px;

    &.value {
      position: relative;
      margin-right: var(--spacing-comp-02);
    }
  }
}
:host(.list-item) {
  dt-color-picker {
    position: absolute;
    width: 100%;
  }
  // position: absolute;
  // width: 160px;
  // top: 0;
  // z-index: 1;
}
