:host {
}

:host > * {
  margin-bottom: var(--spacing-lay-01);

  &:last-child {
    margin-bottom: 0;
  }
}

:host(.list-item) {
  display: flex;
  .edit-container {
    width: 40%;
    max-width: 160px;
    &.title {
      margin-right: var(--spacing-comp-05);
    }
    &.value {
      position: relative;
      margin-right: var(--spacing-comp-02);
    }
  }
}
:host(.list-item) {
  dt-color-picker {
    position: absolute;
    width: 100%;
  }
  .save-button {
    width: 72px;
  }
}
