:host {
  display: block;
}
:host {
  $squareSize: 50px;
  height: $squareSize;
  width: $squareSize;
  background: var(--gray-02);
  display: block;

  //center square
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: $squareSize/2 * -1;
  margin-top: $squareSize/2 * -1;
}

// as list item
:host(.listItem) {
  left: 0;
  top: 0;
  margin-left: 0;
  margin-top: 0;
}
