:host {
  position: absolute;
  z-index: 100;
  opacity: 0;
  @include ui-animation(opacity);
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-name: opacityTransition;
  animation-fill-mode: forwards;

  .main-container {
    display: flex;
  }
  > div:before {
    //arrow
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--gray-07);
    position: absolute;
    top: -5px;
  }
  div.main-container {
    background: var(--gray-07);
    color: var(--color-on-primary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-sm);
    padding: var(--spacing-comp-03);
    position: relative;
    max-width: 300px;
    line-height: 1.6em;

    &.arrow-left {
      &:before {
        left: 5px;
      }
    }
    &.arrow-center {
      &:before {
        left: 50%;
        margin-left: -2.5px;
      }
    }
    &.arrow-right {
      &:before {
        right: 5px;
      }
    }
  }
  div.instruction-number {
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    padding-right: var(--spacing-comp-03);
    padding-top: 3px;
  }
}
:host(.center) {
  transform: translateX(-50%);
}
@keyframes opacityTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
