:host {
  display: block;
  height: 100%;
}
.container {
  height: 100%;
  min-width: 280px;
}
.dt-tab-container {
  flex-grow: 1;
}

//Token Quote
.token-quote {
  width: 100%;
  max-width: 500px;
}

#filter {
  padding-top: var(--spacing-comp-02);
  padding-bottom: var(--spacing-comp-02);
}

#main-container {
  opacity: 1;
  @include ui-animation(opacity);

  &.hide {
    opacity: 0;
  }
}

gxg-accordion-item .accordion-inner-container.card-view {
  flex-wrap: wrap;
  align-content: flex-start;
  display: flex;
  margin-bottom: -8px;
}

.tokens-container.list.categorized {
  background-color: var(--color-background);
}
.tokens-container.card.categorized {
  background-color: var(--color-background);
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  padding-top: 7px;
  margin-left: -4px;
  margin-right: -4px;
}
.tokens-container.card.uncategorized {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-left: -4px;
  margin-right: -4px;
}
.add-new-token-container.list-item.categorized {
  background-color: var(--color-background);
}

//Filter
.filter-container {
  display: flex;
  .col-left {
    width: 40%;
    display: flex;
    align-items: flex-end;
    .themes {
      width: 30%;
      min-width: 80px;
      padding-right: var(--spacing-comp-02);
    }
    .display {
      display: flex;
    }
  }
  .col-right {
    width: 60%;
    display: flex;
    align-items: flex-end;
    .search {
      width: 60%;
      padding-right: var(--spacing-comp-02);
    }
    .category {
      width: 40%;
    }
  }
  @media screen and (max-width: 380px) {
    display: block;
    .col-left {
      width: 100%;
      margin-bottom: var(--spacing-comp-01);

      .display {
        width: 70%;
        justify-content: flex-end;
      }
    }
    .col-right {
      width: 100%;
      .search {
        width: 70%;
      }
      .category {
        width: 30%;
      }
    }
  }
}
