:host,:root {

}

@mixin form-input-styles(){
    font-family: var(--font-family--primary);
    font-size: var(--font-size--md);
    color: var(--color--black);
    padding-left: var(--spacing--sm);
    padding-right: var(--spacing--sm);
    padding-top: var(--spacing--xs);
    padding-bottom: var(--spacing--xs);
    background-color: var(--color-grey-3);
    border-width: var(--border-width--sm);
    border-color: var(--color-grey-3);
    border-style: var(--border-style--regular);
    letter-spacing: 0.018em;
}