:host {
  display: block;
  flex: 0 0 calc((100% - var(--spacing-comp-02) * 2) / 3);
  margin-bottom: var(--spacing-comp-02);

  .card {
    &-main-container {
      box-shadow: 0;
      // @include ui-animation(box-shadow);
    }
    padding: var(--spacing-comp-02);
    border-width: var(--border-width-sm);
    border-style: var(--border-style-regular);
    border-color: var(--gray-03);

    &-header {
      display: flex !important;
      margin-bottom: var(--spacing-comp-02);
      line-height: 0;

      &-title {
        flex: 1 1 auto !important;
        align-self: flex-end !important;
        margin: 0;
        padding: var(--spacing-comp-01) var(--spacing-comp-01)
          var(--spacing-comp-01) 0;
        font-family: var(--font-family-primary);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-md);
        line-height: 1;
        text-transform: capitalize;
      }

      &-menu {
        @include ui-animation(opacity);
        opacity: 0;

        display: flex !important;
        line-height: 0;

        &-button {
          background: transparent;
          border: none;
          padding: var(--spacing-comp-01);
          line-height: 0;
          &:hover {
            cursor: pointer;
            img {
              opacity: 0.75;
            }
          }

          img {
            height: var(--spacing-comp-03);
          }
        }
      }
    }

    &-content {
      &-editable {
        &-footer {
          display: flex;
          justify-content: space-between !important;
          flex-direction: row-reverse;
        }
      }
    }

    &:hover {
      .card-header-menu {
        opacity: 1;
      }
    }

    &.card--editable {
      padding: 0;
      position: relative;
      border-color: transparent;

      .card-header {
        padding: var(--spacing-comp-02) var(--spacing-comp-02) 0
          var(--spacing-comp-02); /*should be same padding as .card */
      }
      .card-content {
        padding: 0 var(--spacing-comp-02) var(--spacing-comp-02)
          var(--spacing-comp-02); /*should be same padding as .card */
      }
      .card-main-container {
        background: var(--color-white);
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
          0px 2px 1px -1px rgba(0, 0, 0, 0.12),
          0px 1px 3px 0px rgba(0, 0, 0, 0.2);
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
  }
}
:host(:nth-child(3n-1)) {
  margin-left: var(--spacing-comp-02);
  margin-right: var(--spacing-comp-02);
}
