:host {
  display: block;

  .tab-header {
    border-radius: var(--border-radius-sm);
    border-width: var(--border-width-sm);
    border-top-width: var(--border-width-sm);
    border-bottom-width: var(--border-width-sm);
    border-color: var(--color-secondary-hover);
    border-style: var(--border-style-regular);

    background-color: var(--color-secondary-enabled);
    height: var(--spacing-comp-05);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    &-title {
      color: var(--color-black);
      font-family: var(--font-family-primary);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-semibold);
      text-transform: uppercase;
      margin: 0;
    }
  }

  .tab-container {
    padding: var(--spacing-comp-02);
    display: flex !important;

    &-content {
      display: flex !important;
      flex: 1 1 auto !important;
      flex-wrap: wrap;
    }
    &-menu {
      padding-left: var(--spacing-comp-03);

      &-button {
        background: transparent;
        border: none;
        padding: var(--spacing-comp-01);
        padding-right: 0;
        cursor: pointer;

        img {
          width: var(
            --icon-height-regular
          ); //width must be set inline in order to avoid not the tab to "jump" on tab change.
        }

        &:hover {
          img {
            opacity: 0.75;
          }
        }
      }
    }
  }
}
